body{
    background-color: bisque;
}
}
element.style 
{
    color: red;
}
#button1 {
    border-block-color: black;
    margin-left: 80px;
    background-color: skyblue;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#button1:hover {
    transform: translate(5px);
}

#button2 {
    border-block-color: black;
    margin-left: 30px;
    background-color: white(242, 102, 102);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#button2:hover {
    transform: translate(5px);
}